@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

:root {
  --primary-color: #ca0000;
  --secondary-color: #ffffff;
  --font-family: "Inter", sans-serif;
}

.SearchBar {
  text-align: center;
  margin-bottom: 30px;
}

/* Search Bar */

#search-bar {
  border-radius: 3px;
  padding: 6px 10px;
  outline: none !important;
  border-color: var(--primary-color);
  width: 300px;
  font-size: 15px;
}

/* Dropdown Button  and  Search Button CSS*/
.btn,
.search-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

/* initial state of search button */
.search-btn:disabled {
  background-color: #bf5c5c;
}

.search-btn:active {
  transform: scale(0.8, 0.8);
}

/* hand curser upon hover when clickable */
.search-btn:hover:not(:disabled) {
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--primary-color);
  min-width: 30px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content div {
  color: var(--secondary-color);
  padding: 11px;
  text-decoration: none;
  display: block;
  font-size: 11px;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
  background-color: rgb(226, 48, 48);
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--primary-color);
}
